<ion-side-menus>
	<ion-pane ion-side-menu-content>
		<ion-nav-bar class="bar-calm nav-title-slide-ios7">
			<ion-nav-buttons side="left">
				<button menu-toggle="left" class="button button-icon 
				icon ion-navicon"></button>
			</ion-nav-buttons>
			<ion-nav-buttons side="right">
				<ion-nav-back-button class="button-icon icon ion-ios7-arrow-back">
					Back
				</ion-nav-back-button>
				<button class="button" ng-show="showAdd()" ng-click="openModal()")>
					{{ add }}
				</button>
			</ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view name="showcase-main" animation="slide-left-right">
		</ion-nav-view>
	</ion-pane>

	<ion-side-menu side="left">
		<header class="bar bar-header bar-calm">
			<h1 class="title">Ionic Side Menu</h1>
		</header>
		<ion-content class="has-header">
			<ion-list>
				<ion-item nav-clear menu-close ui-sref-active="active" ui-sref="showcase.blank">
					Blank
				</ion-item>
				<ion-item nav-clear menu-close ui-sref-active="active" ui-sref="showcase.tab">
					Tabs
				</ion-item>
				<ion-item nav-clear menu-close ui-sref-active="active" ui-sref="showcase.list">
					List
				</ion-item>
				<ion-item nav-clear menu-close ui-sref-active="active" ui-sref="showcase.form">
					Form
				</ion-item>
				<ion-item nav-clear menu-close ui-sref-active="active" ui-sref="showcase.scanner">
					Scanner
				</ion-item>
				<ion-item nav-clear menu-close ui-sref-active="active" ui-sref="showcase.list-add">
					Add Items to List
				</ion-item>
				<ion-item nav-clear menu-close ui-sref-active="active" ui-sref="showcase.cards">
					Cards
				</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>
