<ion-tabs class="tabs-icon-top">


	<!-- First Tab -->
	<ion-tab title="First" icon="icon ion-ios7-partlysunny">
		<ion-view title="Ionic Showcase - First Tab">
			<ion-content class="has-header">
				<div class="row">
					<div class="col col-center">
						<h1 class="page-title">Ionic Tabs</h1>
						<h3 class="page-subtitle">You are on the first tab</h3>
					</div>
				</div>
			</ion-content>
		</ion-view>
	</ion-tab>


	<!-- Second Tab -->
	<ion-tab title="Second" icon="icon ion-ios7-cloudy">
		<ion-view title="Ionic Showcase - Second Tab">
			<ion-content class="has-header">
				<div class="row">
					<div class="col col-center">
						<h1 class="page-title">Ionic Tabs</h1>
						<h3 class="page-subtitle">You are on the second tab</h3>
					</div>
				</div>
			</ion-content>
		</ion-view>
	</ion-tab>


	<!-- Third Tab -->
	<ion-tab title="Third" icon="icon ion-ios7-rainy">
		<ion-view title="Ionic Showcase - Third Tab">
			<ion-content class="has-header">
				<div class="row">
					<div class="col col-center">
						<h1 class="page-title">Ionic Tabs</h1>
						<h3 class="page-subtitle">You are on the third tab</h3>
					</div>
				</div>
			</ion-content>
		</ion-view>
	</ion-tab>


</ion-tabs>